common/overlays/DPUCZDX8G*
common/overlays/DPUCV2DX8G*

*/platforms/tria_*
*/platforms/linux.bif
*/platforms/vivado/*/project
*/platforms/vivado/*/*.jou
*/platforms/vivado/*/*.log
*/platforms/vivado/*/ip/*/*.prj/
*/platforms/vivado/*/ip/*/settings.tcl
*/platforms/vivado/*/ip/*/vitis_hls.log
*/platforms/xsct

*/overlays/examples/*/*binary_container_*
*/overlays/examples/*/*packaged_kernel_*
*/overlays/examples/*/*tmp_kernel_pack_*
*/overlays/examples/*/*.jou
*/overlays/examples/*/*.log
*/overlays/examples/*/_x
*/overlays/examples/*/*.xo
*/overlays/examples/*/*.xo.compile_summary
*/overlays/examples/*/*_accel/*.xo
*/overlays/examples/*/*_accel/*.xo.compile_summary
*/overlays/examples/*/*.ini
*/overlays/examples/*/*.xsa
*/overlays/examples/*/*.xclbin
*/overlays/examples/*/*.xclbin.package_summary
u96v2/overlays/examples/**/__pycache__/
u96v2/overlays/examples/**/*.pyc
u96v2/overlays/examples/**/*:Zone.Identifier

*/petalinux/.petalinux
*/petalinux/build
*/petalinux/components
*/petalinux/project-spec/configs/*.old
*/petalinux/project-spec/hw-description
*/petalinux/images/linux

*/petalinux/project-spec/configs/.Xil/
*/petalinux/project-spec/configs/.statistics
*/petalinux/project-spec/configs/configs/
*/petalinux/project-spec/configs/flash_parts.txt
*/petalinux/project-spec/configs/gen-machineconf.log
*/petalinux/project-spec/configs/plnx_syshw_data
*/petalinux/project-spec/configs/plnxtool.conf
*/petalinux/project-spec/configs/rootfsconfigs/
*/petalinux/project-spec/configs/u96v2-sbc-dualcam-xczu3eg.conf
*/petalinux/project-spec/configs/zub1cg-sbc-trifecta-xczu1cg.conf
*/petalinux/project-spec/configs/uz7ev-evcc-nvme-xczu7ev.conf

*/sdcard/content/*.tar.gz
*/sdcard/*.img
*/sdcard/*.img.gz
u96v2/sdcard/app.tar.gz
u96v2/sdcard/target_ULTRA/highrestst/
u96v2/sdcard/target_ULTRA/images/

.vscode/
vivado*.jou
vivado*.log
u96v2/.vscode/
u96v2/overlays/examples/**/.vscode/
u96v2/sdcard/vivado*.jou
u96v2/sdcard/vivado*.log
u96v2/tmp/
u96v2/vivado*.jou
u96v2/vivado*.log
